html {
    font-family: Helvetica, sans-serif;
    background-color: #ddd;
}

.container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    margin: 50px;
    background-color: #FFF;
}

.cabecalho {
    text-align: center;
}

.img-destaque {
    margin-top: 30px;
    text-align: center;
}

.titulo-principal {
    font-size: 40px;
}

.paragrafo-principal {
    font-style: oblique;
}

.paragrafo-segundario {
    text-align: center;
}

.biografia-container {
   padding: 25px 0;
   margin: -1px 0;
   border-top: 1px dashed #ddd ;
   border-bottom: 1px dashed #ddd ;
}

.frase-container {
    background-color: #ddd;
    padding: 30px;
}

.frase-container blockquote {
    font-weight: 600;
    font-size: 30px;
}

.curiosidade-container {
    padding: 25px;
    margin: 25px;
    border-bottom: 1px dashed #ddd ;
}